<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Cat Facts</title>
 </head>
 <body>
  <h1>WELCOME TO CAT FACTS</h1>
   <h2>Mess with people by inputing their number to CAT FACTS. And we'll send them daily texts!</h2>
   
     <form method = "POST" action ="/input">
     <input type = "text" name = "input_string">
     <input type = "submit" value = "Enter Number">
   </form>  
 </body>
</html>